.App-logo {
  height: 20vmin;
  pointer-events: none;
}
.Logo{
  height: 100px;
}
.QuestLog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Quest{
  box-shadow: 5px 5px 5px 5px grey;
  width: 50vw;
}
.FlexRow{
  display: flex;
  flex-direction: row;
  align-items: center;
}
p{
  box-shadow: 0px 1px 0px 0px gray;
}
.Right{
  margin-left: auto;
}
